body {
    background-color: #262626;
}
div{
    width:100%;text-align: center;
}
img{
    height:170px;
    width:250px;
    margin:10px;
}
h1{
    text-align: center;
    color:whitesmoke;
    font-size: 40px;
    font-family: serif;
}
h2 {
    color: whitesmoke;
}
p {
    color: green;
    font-family: Fraunces;
}