/* Style for the form container */
div {
  background-color: #f4c95d;
}
.container {
  background-color: #f4c95d;
  padding-bottom: 30px;
  padding-top: 20px;
}
.one {
  width: 400px; /* Set the width of the form container */
  margin: 0 auto; /* Center the form container horizontally */
  padding: 50px; /* Add some padding to the form container */
  background-color: #e7e393; /* Set background color for the form container */
  border-radius: 8px; /* Add rounded corners to the form container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow effect */
  margin-top: 60px;
  margin-bottom: 62px;
}

/* Style for the form */
form {
  display: flex; /* Use flexbox layout for the form elements */
  flex-direction: column; /* Arrange form elements vertically */
}

/* Style for form fields */
mat-form-field {
  margin-bottom: 20px; /* Add space between form fields */
}

/* Style for buttons */
button {
  padding: 10px 20px; /* Add padding to buttons */
  border: none; /* Remove border from buttons */
  border-radius: 5px; /* Add rounded corners to buttons */
  cursor: pointer; /* Change cursor to pointer on hover */
}

button:hover {
  opacity: 0.8; /* Reduce opacity of buttons on hover */
}

/* Style for the "Login" button */
button[type="submit"] {
  background-color: #854d27; /* Set background color for the "Login" button */
  color: #fff; /* Set text color for the "Login" button */
}

/* Style for the "Reset" button */
button[type="button"] {
  background-color: #857f74; /* Set background color for the "Reset" button */
  color: #fff; /* Set text color for the "Reset" button */
}

/* Style for the link */
a {
  color: #007bff; /* Set link color */
  text-decoration: none; /* Remove underline from link text */
}

a:hover {
  text-decoration: underline; /* Add underline on hover */
}

p {
  margin-top: 5px;
  text-align: center;
}