<!-- cart.component.html -->
<div>
<div class="container">
  <h3>Shopping Cart</h3>
  <div class="cart-table-container">
    <table class="cart-table">
      <thead>
        <tr>
          <th>Product Image</th>
          <th>Name</th>
          <th>Size</th>
          <th>Price (₹)</th>
          <th>Quantity</th>
          <th>Total Amount (₹)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems">
          <td><img [src]="item.image" [alt]="item.name" class="product-image"></td>
          <td>
            <h3>{{ item.name }}</h3>
            <p>{{ item.description }}</p>
          </td>
          <td>{{ item.selectedSize }}</td>
          <td>{{ item.selectedPrice | currency:'INR':'symbol':'1.2-2' }}</td>
          <td>
            <input type="number" min="1" [(ngModel)]="item.quantity" (change)="updateQuantity(item)">
          </td>
          <td>{{ item.selectedPrice * item.quantity | currency:'INR':'symbol':'1.2-2' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="total-amount">
    <h2>Total Amount: {{ getTotalAmount() | currency:'INR':'symbol':'1.2-2' }}</h2>
  </div>
  <button mat-raised-button color="primary" *ngIf="cartItems.length > 0" (click)="orderNow()">Place Order</button>
</div>
</div>